.calendar {
  box-sizing: content-box;
  border: 1px solid #eee;
  padding: 0.5em;
  height: 25em;
  width: 20em;
  display: flex;
  flex-direction: column;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}

.calendar-months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5em;
  column-gap: 0.5em;
  flex-grow: 10;
}

/* .calendar-months__button {
} */

.calendar-table {
  flex-grow: 10;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-table > div {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-table__date:hover {
  background-color: skyblue;
}

.text-light {
  color: #999;
}
