.calendar {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 6px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 10px;
  width: 300px;
}

.calendar abbr {
  border-bottom: 1px dotted black;
  text-decoration: none;
}

.calendar button {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
}

.calendar__header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.calendar-months {
  column-gap: 10px;
  display: grid;
  flex-grow: 10;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

.calendar-months__button:hover {
  background-color: skyblue;
}

.calendar-table {
  display: grid;
  flex-grow: 10;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-table > div {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.calendar-table__weekday {
  font-weight: bold;
}

.calendar-table__date:hover {
  background-color: skyblue;
}

.text-light {
  color: #999;
}
