@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightslategray;
  font-family: 'Roboto', sans-serif;
  font-family: 'Besley', serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  margin: 20px;
}
