@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif;
}


h1 {
  font-size: 2.5rem;
  margin: 80px 0 40px;
}

h2 {
  font-size: 1.5rem;
}

.hero > h2 {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-style: italic;
  font-size: 0.9rem;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3, h4 {
  background-color: rgb(15, 15, 15);
  padding: 20px;
}

header {
  align-items: center;
  background-color: rgb(15, 15, 15);
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0) 50%
    );
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 80px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.hero {
  align-items: center;
  background-image: url('../assets/universe.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}

.hero > * {
  margin: 0 10px;
}

.features {
  background-image: linear-gradient(rgb(15, 15, 15), rgb(30, 30, 45));
  display: flex;
  flex-direction: column;
}

.features > div:first-of-type,
.features > div:nth-of-type(2) {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.features > div:nth-of-type(2) {
  background-color: rgb(30, 30, 45);
  margin: 40px;
  padding: 20px;
}

.features > div:nth-of-type(3) {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.languages-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0;
  width: 100%;
}

.languages-container .calendar {
  margin-bottom: 20px;
}

.adventure {
  background-color: rgb(15, 15, 15);
  min-height: calc(100vh - 80px);
}

.parallax {
  background-attachment: fixed;
  background-image: url('../assets/adventure.jpeg');
  background-position: bottom;
  background-size: cover;
  min-height: 400px;
}

@media screen and (max-width: 768px) {
  h3 {
    background-color: rgb(30, 30, 45);
    font-size: 1rem;
    margin: 20px 0;
    width: 100%;
  }

  h4 {
    background-color: unset;
    padding: 0;
  }

  .hero__calendar-container {
    display: none;
  }

  .features > div:first-of-type {
    flex-direction: column;
  }

  .features > div:nth-of-type(2) {
    background-color: unset;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
