.example-3 {
  padding: 0 10px 40px;
}

.example-3 > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.example-3-button {
  background-color: rgb(60 90 255);
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  height: 60px;
  max-width: 400px;
  position: relative;
  transform: rotate(-2deg);
  width: calc(100% - 20px);
}

.example-3-button::after {
  border: 1px solid white;
  bottom: 4px;
  content: '';
  height: 100%;
  left: 4px;
  position: absolute;
  width: 100%;
}

.example-3-button:hover::after {
  bottom: 2px;
  left: 2px;
}

.example-3-countdown-container > h2 {
  cursor: pointer;
  margin: 40px 0;
  user-select: none;
}

.example-3-countdown-container > p {
  font-size: 1.25rem;
  text-align: center;
}

.example-3-countdown-container > span {
  font-size: 2.5rem;
  margin: 40px 0 10px;
}

.example-3 > .backdrop {
  background-color: rgba(0 0 0 / 80%);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.8s ease;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

.example-3 > .backdrop.visible {
  opacity: 0.8;
  visibility: visible;
}

.example-3 > .modal {
  left: calc(50% - 140px);
  opacity: 0;
  position: fixed;
  top: calc(50% - 175px);
  transition: 0.8s ease;
  visibility: hidden;
  z-index: 20;
}

.example-3 > .modal.visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .example-3 p {
    font-size: 0.9em;
  }
}
