@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 2.5rem;
  padding: 80px 0 40px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  background-color: rgb(15 15 15);
  font-size: 1.25rem;
  padding: 20px;
  text-align: center;
}

h4 {
  background-color: rgb(15 15 15);
  font-size: 1rem;
  padding: 20px;
  text-align: center;
}

a {
  border-bottom: 1px solid white;
  color: inherit;
  text-decoration: none;
}

header {
  align-items: center;
  background-color: rgb(15 15 15);
  background-image: linear-gradient(
    to bottom right,
    rgba(255 255 255 / 8%) 0%,
    rgba(255 255 255 / 0%) 50%
  );
  box-shadow: 0 0 4px 2px rgba(0 0 0 / 40%);
  display: flex;
  height: 80px;
  justify-content: center;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.hero {
  align-items: center;
  background-image: url('./assets/universe.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}

.hero > * {
  margin: 0 10px;
}

.hero > h2 {
  backdrop-filter: blur(4px);
  background-color: rgba(0 0 0 / 40%);
  padding: 20px;
}

.features {
  background-image: linear-gradient(rgb(15 15 15), rgb(30 30 45));
}

.example-1-container,
.example-2-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.example-2-container {
  margin: 40px 0;
}

.languages-and-styles-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.languages-and-styles-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 80px 0;
  width: 100%;
}

.languages-and-styles-container > div .calendar {
  margin-bottom: 20px;
}

.adventure {
  background-color: rgb(15 15 15);
  min-height: calc(100vh - 80px);
}

.parallax {
  background-attachment: fixed;
  background-image: url('./assets/adventure.jpeg');
  background-position: bottom;
  background-size: cover;
  height: 400px;
}

@media screen and (max-width: 768px) {
  h3 {
    background-color: rgb(30 30 45);
    font-size: 1rem;
    margin: 20px 0;
    width: 100%;
  }

  h4 {
    background-color: unset;
    font-size: 0.8rem;
    padding: 0;
  }

  .hero > div {
    display: none;
  }

  .example-1-container {
    flex-direction: column-reverse;
  }

  .example-2-container {
    flex-direction: column;
  }
}
